/* .card-color{
    background-color: #F5F5F5;
} */

.card-color {
    padding: 10px;
    transition: 0.6s;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
}

.card-color:hover {
    box-shadow: 4px 4px 7px gray;
    border-radius: 10px;
    border: 1px solid cyan;
}